.banner_1 {
    background-color: #7853a2;
    height: 836px;
    .container {
        padding-top: 177px;
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
    }
    .banner_item {
        width: 50%;
        padding-left: 99px;
        img {
            width: 548px;
        }
    }
    .text_bg_hiden {
        font-size: 54px;
        width: 350px;
        position: relative;
        top: -19px;
        left: 58px;
        z-index: 1;
        letter-spacing: 2px;
        line-height: 67px;
    }
    .text_bg_pink {
        width: 390px;
        height: 196px;
        padding: 27px 30px 10px 46px;
        letter-spacing: 1px;
        background-color: #ba4693;
        position: relative;
        top: -48px;
        left: 240px;
        text-align: left;
        line-height: 28px;
        font-size: 16px;
    }
    .text_bottom {
        position: relative;
        top: 126px;
        left: -86px;
        letter-spacing: 5px;
    }
    .text_oragane {
        color: #ea572a;
        font-size: 30px;
    }
    span {
        font-size: 26px;
    }
}

@media screen and (max-width: 1550px) {
    .banner_1 {
        background-color: #7853a2;
        height: 731.5px;
        .container {
            padding-top: 154.875px;
            display: flex;
            flex-wrap: wrap;
            width: 90%;
            margin: 0 auto;
        }
        .banner_item {
            width: 50%;
            padding-left: 86.625px;
            img {
                width: 479.5px;
            }
        }
        .text_bg_hiden {
            font-size: 47.25px;
            width: 306.25px;
            position: relative;
            top: -16.625px;
            left: 50.75px;
            z-index: 1;
            letter-spacing: 1.75px;
            line-height: 58.625px;
        }
        .text_bg_pink {
            width: 341.25px;
            height: 171.5px;
            padding: 23.625px 26.25px 8.75px 40.25px;
            letter-spacing: 0.875px;
            background-color: #ba4693;
            position: relative;
            top: -42px;
            left: 210px;
            text-align: left;
            line-height: 24.5px;
            font-size: 14px;
        }
        .text_bottom {
            position: relative;
            top: 110.25px;
            left: -75.25px;
            letter-spacing: 4.375px;
        }
        .text_oragane {
            color: #ea572a;
            font-size: 26.25px;
        }
        span {
            font-size: 22.75px;
        }
    }
}
@media screen and (min-width: 1200px) and (max-width: 1409px) {
    .banner_1 {
        background-color: #7853a2;
        height: 627px; /* 836 * 0.75 */

        .container {
            padding-top: 132.75px; /* 177 * 0.75 */
            display: flex;
            flex-wrap: wrap;
            width: 90%;
            margin: 0 auto;
        }

        .banner_item {
            width: 50%;
            padding-left: 74.25px; /* 99 * 0.75 */
            img {
                width: 411px;
            }
        }

        .text_bg_hiden {
            font-size: 40.5px; /* 54 * 0.75 */
            width: 262.5px; /* 350 * 0.75 */
            position: relative;
            top: -14.25px; /* -19 * 0.75 */
            left: 43.5px; /* 58 * 0.75 */
            z-index: 1;
            letter-spacing: 1.5px; /* 2 * 0.75 */
            line-height: 50.25px; /* 67 * 0.75 */
        }

        .text_bg_pink {
            width: 292.5px; /* 390 * 0.75 */
            height: 147px; /* 196 * 0.75 */
            padding: 20.25px 22.5px 7.5px 34.5px; /* 27 30 10 46 * 0.75 */
            letter-spacing: 0.75px; /* 1 * 0.75 */
            background-color: #ba4693;
            position: relative;
            top: -36px; /* -48 * 0.75 */
            left: 180px; /* 240 * 0.75 */
            text-align: left;
            line-height: 21px; /* 28 * 0.75 */
            font-size: 12px; /* 16 * 0.75 */
        }

        .text_bottom {
            position: relative;
            top: 94.5px; /* 126 * 0.75 */
            left: -64.5px; /* -86 * 0.75 */
            letter-spacing: 3.75px; /* 5 * 0.75 */
        }

        .text_orange {
            color: #ea572a;
            font-size: 22.5px; /* 30 * 0.75 */
        }

        span {
            font-size: 19.5px; /* 26 * 0.75 */
        }
    }
}
@media screen and (max-width: 1199px) {
    .banner_1 {
        background-color: #7853a2;
        height: 836px;
        .container {
            padding-top: 0px;
            display: flex;
            flex-wrap: wrap;
            width: 90%;
            margin: 0 auto;
        }
        .banner_item {
            width: 50%;
            padding-left: 0px;
            img {
                max-width: 100%;
            }
        }
        .text_bg_hiden {
            font-size: 30px;
            width: 200px;
            position: relative;
            top: 0px;
            left: 0px;
            z-index: 1;
            letter-spacing: 0px;
            line-height: 30px;
        }
        .text_bg_pink {
            width: 250px;
            height: 150px;
            padding: 0px 0px 0px 0px;
            letter-spacing: 1px;
            background-color: #ba4693;
            position: relative;
            top: 0;
            left: 0;
            text-align: left;
            line-height: 28px;
            font-size: 8px;
           
        }
        .text_bottom {
            position: relative;
            top: 126px;
            left: -86px;
            letter-spacing: 5px;
        }
        .text_oragane {
            color: #ea572a;
            font-size: 30px;
        }
        span {
            font-size: 26px;
        }
    }
}
